@model List<Book>

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 200px; /* Set your desired width */
        text-align: center;
    }

        .card img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .card h3 {
            margin-top: 10px;
            font-size: 16px;
        }

    .wishlist-button {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>

<h5>Search Results</h5>
<div class="card-container">
@foreach (var book in Model)
{
    
        <div class="card">
        <img src="https://covers.openlibrary.org/b/id/@book.cover_i-M.jpg" />
        <h3>@book.Title</h3>

            @* <button class="wishlist-button" onclick="AddToWishlist('@book.Title')", new { title=@book.Title,coverid=@book.coverid } >Add to Wishlist</button> *@
            @Html.ActionLink("Add to wishlist", "AddToWishlist", "Book", new { title = book.Title, coverid = book.cover_i }, new { @class = "btn btn-primary"})


       
    </div>
}
</div>
<script>
    function AddToWishlist(title) {
        alert('Added to Wishlist: ' + title);
    }
</script>

